@import './assets/reset';
@import './sections/header';
@import './sections/main';
@import './sections/footer';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');





/*!----------index-noticias----------*/


/*!-------index-videos------*

/*!-------index-n-random------*/

/*!-------index-análisis------*/

/*!-------noticias-principales------*/

/*!-------noticias-random------*/

/*!-------noticias-hardware------*/

/*!----noticia-thelastofus----*/

/*!-------análisis------*/

/*!-------análisis-ranking------*/

/*!-------videos-trailers------*/

/*!-------videos-esports------*/

/*!-------géneros------*/

/*!-------géneros-ejemplo-selección-rol------*/

/*!-------contacto------*/

/*!------puntuación-----*/

/*!------footer-----*/

/*!-----@media---index-----*/


@media (max-width: 1625px) {
    .container-1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 20px;
        grid-template-areas:
            "noticia-1 noticia-2 noticia-3"
            "noticia-4 noticia-5 noticia-6"
            "noticia-7 noticia-7 noticia-7";
        justify-items: center;
        align-items: center;
        padding: 0px 100px 100px 100px;
    }

    .videos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-2 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 10px;
        grid-template-areas:
            "noticiarandom-1 noticiarandom-2 noticiarandom-3"
            "noticiarandom-4 noticiarandom-5 noticiarandom-6"
            "noticiarandom-7 noticiarandom-8 .";
        justify-content: center;
    }

    .container-3 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
            "analisis-1 analisis-3"
            "analisis-5 analisis-4"
            "analisis-2 analisis-6"
            "analisis-7 analisis-8"
            "analisis-9 .";
        justify-items: center;
    }
}

@media (max-width: 1275px) {
    
    .container-1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 10px;
        grid-template-areas:
            "noticia-1 noticia-2"
            "noticia-3 noticia-4"
            "noticia-5 noticia-6"
            "noticia-7 noticia-7";
        justify-items: center;
        align-items: center;
        padding: 0 100px 100px 100px;
    }

    .container-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 10px;
        grid-template-areas:
            "noticiarandom-1 noticiarandom-2"
            "noticiarandom-3 noticiarandom-4"
            "noticiarandom-5 noticiarandom-6"
            "noticiarandom-7 noticiarandom-8";
        justify-content: center;
    }

    .analisis-juegos {
        padding: 0 10px 0 10px;
    }
}

@media (max-width: 900px) {

    .container-1 {
        display: flex;
        flex-direction: column;
    }

    .noticia-7 {
        display: flex;
        justify-content: center;
        background-color: #14141bab;
        border-radius: 9px;
        flex-direction: column;
        box-shadow: 0px 1px 10px rgba(255, 3, 3, 0.863);
        width: 300px;
    }

    .noticia-7 a img {
        width: 280px;
    }

    .container-2 {
        display: flex;
        flex-direction: column;
        align-items: center
    }

    .container-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 650px) {
    .videos article iframe {
        width: 480px;
    }
}

@media (max-width: 520px) {
    .secundarias div {
        padding: 0;
    }

    .container-1 div {
        width: 300px;
    }

    .container-1 div a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-1 div a img {
        width: 280px;
    }

    .container-1 div a h6 {
        padding: 5px;
    }

    .noticia-7 a h6 {
        font-size: 15px;
    }

    .container-2 div {
        width: 300px;
    }

    .container-2 div a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-2 div a img {
        width: 280px;
    }

    .videos article iframe {
        width: 300px;
    }
}


/*!-----------@mediaq---noticias------*/


@media (max-width: 1720px) {
    .container-4 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "noticiasp-1 noticiasp-2"
            "noticiasp-3 noticiasp-4"
            "noticiasp-5 noticiasp-6"
            "noticiasp-7 noticiasp-8"
            "noticiasp-9 noticiasp-10"
            "noticiasp-11 noticiasp-12";
        justify-items: center;
        padding: 30px 90px 20px 90px;
        background-color: #14141b;
    }

    .container-5 {
        padding: 0 100px 0 100px;
    }

    .container-6 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 1000px) {
    .secundarias-dos {
        display: none;
    }

    .titulo-dos-noticias {
        padding: 150px 0 10px 0;
    }

    .container-4 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-5 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .hardware-5 {
        height: 0%;
    }

    .container-6 div {
        width: 450px;
    }

    .container-6 div a {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-6 div a img {
        width: 400px;
    }

    .container-6 div a h6 {
        text-align: center;
        padding: 5px;
    }
}

@media (max-width: 550px) {
    .posicion {
        padding-top: 80px;
        padding-bottom: 10px;
    }
    
    .tamaño-titulo{
        font-size: 30px;
    }

    .titulo-dos-noticias {
        padding: 100px 0 10px 0;
    }

    .container-4 {
        background-color: #14141b;
    }

    .container-4 div {
        width: 300px;
        height: 310px;
    }

    .container-4 div a{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-4 div a img {
        width: 280px;
    }

    .container-5 {
        padding: 0;
    }

    .container-5 div {
        width: 300px;
        height: 280px;
    }

    .container-5 div a{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .container-5 div a img {
        width: 280px;
    }

    .container-6 {
        padding: 0 0 15px 0;
    }

    .container-6 div {
        width: 300px;
        height: 320px;
    }

    .container-6 div a img {
        width: 280px;
    }

    .hardware-5 {
        width: 300px;
        height: 300px;
        padding: 0 0 10px 0;
    }
}


/*!-----------@mediaq---noticia-the-last-of-us------*/


@media (max-width: 1250px) {
    .color-fondo{
        background-color: white;
    }

    .noticiathelastofus {
        width: 900px;
        padding: 0;
    }

    .noticiathelastofus h1{
        font-size: 22px;
        padding-top: 150px;
    }

    .noticiathelastofus h4{
        font-size: 19px;
    }
    
    .noticiathelastofus img{
        width: 700px;
    }

    .noticiathelastofus-dos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .noticiathelastofus-dos img{
        width: 700px;
    }
    .contenedor div{
        width: 900px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 910px){
    .contenedor div{
        width: 600px;
        padding: 0;
    }

    .contenedor div img{
        width: 500px;
    }
    .noticiatlou div p {
        padding: 0;
    }
}

@media (max-width: 600px){
    .contenedor div{
        width: 400px;
    }
    .contenedor div img{
        width: 350px;
        padding: 0 0 20px 0;
    }

    .noticiathelastofus h1{
        font-size: 19px;
        font-weight: 600;
    }

    .noticiathelastofus h4{
        font-size: 16px;
    }
}

@media (max-width: 550px){
    .noticiathelastofus h1{
        padding-top: 90px;
    }
    .noticiatlou p{
        padding-top: 20px;
    }
}

@media (max-width: 420px){
    .contenedor div{
        width: 350px;
    }
    .contenedor div img{
        width: 300px;
    }
}





