.medida-titulo {
    font-size: 60px;

    h1 {
        font-size: 60px;
        padding: 5px;
    }
}

.navbar-a-la-derecha {
    justify-content: flex-end;
}

.fixed-top {
    background-image: linear-gradient(rgb(15, 15, 15), rgb(5, 5, 5));
}

.custom-hover {
    display: inline-block;
    transition: transform 0.3s ease;

    &:hover {
        transform: scale(1.1);
    }
}

@media (max-width: 650px) {
    .medida-titulo {
        font-size: 30px;
    }
}