.decoration {
    text-decoration: none;
    list-style: none;
    color: white;
}

.align {
    text-align: center;
    color: white;
}


.columna{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random {
    width: 350px;
    border-radius: 6px;
    background-color: #14141bab;
}


.principalesdos {
    width: 410px;
    border-radius: 6px;
    background-color: $negro-fondo;

}
