.decoration {
    text-decoration: none;
    list-style: none;
    color: white;
}

.align {
    text-align: center;
    color: white;
}


.columna{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random {
    width: 350px;
    height: 290px;
    border-radius: 6px;
    background-color: #14141bab;
}


.principalesuno {
    width: 345px;
    border-radius: 6px;
    background-color: #14141bab;
}

.principalesdos {
    width: 385px;
    height: 355px;
    border-radius: 6px;
    background-color: $negro-fondo;

}

.hardwaredos{
    width: 610px;
    height: 450px;
}

